// 隐藏滑动条
.overfloScroll {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
// 完整下边框
.border_bottom(@color) {
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: @color;
    }
}
// flex居中
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// 阅读页主题样式
.booksChaptersDetail {
    background-color: #eee6dd;
}
.booksChaptersDetail_dark {
    background-color: #0c0c0c;
}
.booksChaptersDetail_eyecare {
    background-color: #b8cd8d;
}
.el-autocomplete-suggestion__wrap {
    max-height: 600px;
}
[v-cloak] {
    display: none;
}
.side-bar {
    z-index: 10;
}
#nprogress .bar {
    position: absolute;
    top: 50px !important;
}
#nprogress .peg {
    display: none !important;
}