.overfloScroll {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
// 阅读页主题样式
.booksChaptersDetail {
    background-color: #eee6dd;
}
.booksChaptersDetail_dark {
    background-color: #0c0c0c;
}
.booksChaptersDetail_eyecare {
    background-color: #b8cd8d;
}
.el-autocomplete-suggestion__wrap {
    max-height: 600px;
}
[v-cloak] {
    display: none;
}
.side-bar {
    z-index: 10;
}
#nprogress .bar {
    position: absolute;
    top: 50px !important;
}
#nprogress .peg {
    display: none !important;
}