.overfloScroll {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.booksChaptersDetail {
    background-color: #eee6dd;
}
.el-autocomplete-suggestion__wrap {
    max-height: 600px;
}
[v-cloak] {
    display: none;
}